/*
========================================================================================
   Nextflow Configuration File for Baafes-urease-mining
========================================================================================
*/

params {
    accessions = "data/accessions.tsv"
    references = "data/urease_references.fasta"
    pfam_hmm   = "Pfam-A.hmm"
    bakta_db   = "db/db"
    outdir     = "results"
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        process.executor = 'local'
        docker.enabled   = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    singularity {
        process.executor = 'local'
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        process.executor = 'local'
        conda.enabled    = true
    }
}

manifest {
    name            = 'Baafes-urease-mining'
    author          = 'CBafes UnB Team'
    description     = 'Pipeline para mineração de genes de urease, transporte de ureia e rotas alternativas de catabolismo'
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.04.0'
    version         = '0.2'
}

process {
    cpus   = 2
    memory = '4 GB'
    time   = '2h'
}

report {
    enabled = true
    file    = "${params.outdir}/nf_report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/nf_trace.txt"
}

timeline {
    enabled = true
    file    = "${params.outdir}/nf_timeline.html"
}

dag {
    enabled = true
    file    = "${params.outdir}/nf_dag.html"
}
